@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.leaves {
    position: absolute;
    top: 200px;
    right: 0;
    width: 35%;
    height: 35%;
    opacity: 0.5;

    @include bp-min($bp-desktop--small) {
        top: 25px;
        width: 25%;
        height: 25%;
        opacity: 0.8;
    }
}

.review-form {
    background-color: $col-brown-1;
    position: relative;
    
    input, textarea {
        padding: 1rem;
        max-height: 3rem;
        border: 0;
        width: 100%;
        box-sizing: border-box;
        border-radius: 2px;
        z-index: 1;

        color: gray;

        &::placeholder {
            color: lightgray;
        }
    }

    textarea {
        height: 200px;
        max-height: unset;
        resize: none;
    }
}
