@import "../../styles/breakpoints.scss";
@import "../../styles/vars.scss";
@import "../../styles/colors.scss";


$navbar-opacity: 0.95;
$navbar-background: #8B7766;

// Acts as a height placeholder
.staticWrapper {
    // position: relative;
    outline: 0;
}

.listWrapper {
    min-height: $height-navbar-mobile;
    display: flex;
    bottom: $height-navbar-mobile;
    align-items: center;
    width: 100%;
    position: fixed;
    left: -100vw;
    background-color: $navbar-background;
    min-height: calc(100vh - 4.5rem);
    transition: all 0.5s;
    opacity: 0;
    z-index: 2;
    outline: 0;
    
    // Mobile only
    ul li {
        width: 100%;
        padding: 1.25rem 1.5rem;
        list-style: none;
        margin: 0;
        outline: 0;
    }
    
    @media screen and (min-width: $bp-desktop) {
        position: fixed;
        top: 0;
        bottom: unset;
        left: unset;
        height: unset;
        min-height: $height-navbar-mobile;
        justify-content: center;
        opacity: $navbar-opacity;
        box-shadow: $shadow-1;
        transition: none;
        
        ul li {
            width: unset;
            padding: 0rem;
            height: 100%;
            font-size: 0.9em;

            a, span {
                padding: 1.2rem 1.5rem;
            }
        }
    }

    @media screen and (min-width: $bp-desktop) {
        background-color: transparent;
        box-shadow: none;
        top: 6vh;
        position: absolute;
        
        ul li {
            width: unset;
            padding: 0rem;
            height: 100%;
            
            a, span {
                color: black;
                font-weight: 600;
                padding: 1.5rem 2rem;
            }
        }
    }
}

.listWrapper--floating {
    min-height: $height-navbar-mobile;
    display: flex;
    bottom: $height-navbar-mobile;
    align-items: center;
    width: 100%;
    position: fixed;
    left: -100vw;
    background-color: $navbar-background;
    min-height: calc(100vh - 4.5rem);
    transition: all 0.5s;
    opacity: 0;
    z-index: 2;
    outline: 0;
    
    // Mobile only
    ul li {
        width: 100%;
        padding: 1.25rem 1.5rem;
        list-style: none;
        margin: 0;
        outline: 0;
    }
    
    @media screen and (min-width: $bp-desktop) {
        position: fixed;
        top: 0;
        bottom: unset;
        left: unset;
        height: unset;
        min-height: $height-navbar-mobile;
        justify-content: center;
        opacity: $navbar-opacity;
        box-shadow: $shadow-1;
        transition: none;
        
        ul li {
            width: unset;
            padding: 0rem;
            height: 100%;
            font-size: 0.9em;

            a, span {
                padding: 1.2rem 1.5rem;
            }
        }
    }

    @media screen and (min-width: $bp-desktop) {
        ul li {
            width: unset;
            padding: 0rem;
            height: 100%;

            a, span {
                padding: 1.5rem 2rem;
            }
        }
    }
}

.onNavbarOpen {
    transition: left 0.5s;
    
    left: 0vw;
    opacity: $navbar-opacity;
}

.link {
    a, span{
        transition: all 0.5s;
        cursor: pointer;
        color: white;
        text-decoration: none;
        padding: 1rem;
        
        &:hover {
            background-color: rgba(255,255,255,0.15);   
        }
        
        @include bp-min($bp-desktop) {
            border-bottom: 4px solid transparent;
            border-radius: 0px;
            
            &:hover {
                background-color: rgba(255,255,255,0.15);
                // border-bottom: 4px solid $col-brown-1;
            }
        }

        @include bp-min($bp-desktop) {
            padding: 0;
        }
    }

    .active {
        border-left: 3px solid white;
        background-color: rgba(255,255,255,0.1);
        border-radius: 3px;

        @include bp-min($bp-desktop) {
            background-color: rgba(255,255,255,0.15);
            border: none;
        }
        
        @include bp-min($bp-desktop) {
            background-color: rgba(255,255,255,0.15);
            border-radius: 0px;            
            // border-bottom: 4px solid $col-brown-1;
        }
    }
}

.toggle {
    background-color: $navbar-background;
    width: 100%;
    cursor: pointer;
    height: $height-navbar-mobile;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 5;
    // box-shadow: $shadow-1;
    outline: 0;
    opacity: $navbar-opacity;
    
    img {
        width: 1.5rem;
        height: 1.5rem;
    }

    @media screen and (min-width: $bp-desktop) {
        display: none;
    }

    @include bp-max($bp-desktop) {
        position: fixed;
        bottom: 0;
    }
}

.listWrapperAnimation {
    animation: navbarEnter 0.25s forwards ease-in-out;
}
.listWrapperAnimationExit {
    animation: navbarExit 0.25s forwards ease-in-out;
}

@keyframes navbarEnter {
    0% {
        top: -$height-navbar-mobile;
        opacity: 0.2;
    }
    100% {
        top: 0;
        opacity: $navbar-opacity;
    }
}
@keyframes navbarExit {
    0% {
        top: 0;
        opacity: $navbar-opacity;
    }
    100% {
        top: -$height-navbar-mobile;
        opacity: 0.5;
    }
}