@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.contacts {
    background-color: $col-brown-1;
    
    input, textarea {
        padding: 0.7rem;
        max-height: 2.5rem;
        border: 0;
        width: 100%;
        box-sizing: border-box;
        border-radius: 2px;
        z-index: 1;

        color: gray;

        &::placeholder {
            color: lightgray;
        }
    }

    textarea {
        height: 100px;
        max-height: unset;
        resize: none;
    }
}

.leaves {
    position: absolute;
    top: 100px;
    right: 0;
    width: 25%;
    height: 25%;
    opacity: 0.8;

    @include bp-min($bp-desktop--small) {
        top: 25px;
    }
}