@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.contacts {
    background-color: $col-brown-1;
    
    input, textarea {
        padding: 0.7rem;
        max-height: 2.5rem;
        border: 0;
        width: 100%;
        box-sizing: border-box;
        border-radius: 2px;

        color: gray;

        &::placeholder {
            color: lightgray;
        }
    }

    textarea {
        height: 100px;
        max-height: unset;
        resize: none;
    }
}
