$col-brown-1: #c8bdb3;
$col-brown-2: #8b7766;

$col-gray-1: #555555;
$col-gray-2: #acacac;

.brown-1 {
    color: $col-brown-1;
}
.brown-2 {
    color: $col-brown-2;
}

.brown-bg {
    background-color: #9f8c7f;
}

.real-white {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.fat-white{
    color: white;
    font-weight: 900;
}