@import "./helper.scss";
@import "./fonts.scss";
@import "./buttons.scss";
@import "./breakpoints.scss";

*, html, body {
    font-family: MrLighter, Arial, Helvetica, sans-serif;
}

.border {
    border: 1px solid black;
}

.border_white {
    border: 1px solid white;
}

.uppercase {
    text-transform: uppercase;
}

p {
    line-height: 1.5;
}

.w-15 {

    @include bp-min ($bp-desktop--small) {
        width: 15%;
    }
}
.w-25 {
    width: 25%;
}

.animate-shake {
    transform-origin: center;
    animation: shake 5s infinite;
}

@keyframes shake {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    40% {
        transform: rotateZ(0deg);
    }
    60% {
        transform: rotateZ(10deg);
    }
    80% {
        transform: rotateZ(0deg);
    }
}