@import "./colors.scss";
@import "./breakpoints.scss";

.rectangle {
    background-color: $col-gray-2;
    color: white;
}

.rectangle-wrapper:first-child {
    @include bp-max($bp-desktop--small) {
        padding-bottom: 5vw;
    }
}

.arrow {
    position: absolute;
    left: 50%;
    top: 43%;
    width: 15%;
    transform: translateX(-50%) rotateZ(90deg);

    @include bp-min($bp-desktop--small) {
        transform: translateX(-50%);
        top: 10vh;
        width: 20%;
    }
}

.list {
    list-style: none;
    padding-left: 15px;
    li:before { 
        content: '•'; 
        // margin-left: -30px; 
        margin-right: 10px; 
        font-size: 2rem; 
        height: 20px; 
        line-height: 0; 
        position: relative;
        top: 2px;
    } 
}